
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

/* Ensure Rubik is applied to all elements */
* {
  font-family: "Rubik", sans-serif;
}

@theme {
  --color-primary: #0e6634;
  --color-secondary: #5cc37e;
  --color-tertiary: #7bf1a8;
  --color-blue: #4892dc;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Rubik", sans-serif; /* Explicitly set on body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: "Rubik", sans-serif; /* Explicitly set on buttons */
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}