@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  font-family: "Libre Caslon Text", serif;
  font-optical-sizing: auto;
}

/* Ensure Rubik is applied to all elements */
* {
  font-family: "Libre Caslon Text", serif; 
}

@theme { 
  --color-primary: #0e6634;
  --color-secondary: #5cc37e;
  --color-tertiary: #7bf1a8;
  --color-blue: #4892dc;

  --color-introPrimary: #567257;
  --color-intoSecondary: #896a58;
  --color-intoTertiary: #acab9e;
  --shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.08);
  --shadow-medium: 0 0 12px rgba(0, 0, 0, 25%);
  --shadow-strong: 0 6px 20px rgba(0, 0, 0, 0.18);
}

a {
  text-decoration: inherit;
}

body {
  margin: 0 !important;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Libre Caslon Text", serif; /* Explicitly set on body */
}

button {
  font-weight: 500;
  font-family: "Libre Caslon Text", serif; /* Explicitly set on buttons */
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

